# Mac
.DS_Store

# Leiningen
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# IntelliJ IDEA
.idea/
*.iml

# Yarn
.config/yarn/global/node_modules

.config/karabiner/automatic_backups

.clojure/.clj-kondo/
.clojure/.lsp/
