[user]
	name = Cort Spellman
	email = spellman.cort@gmail.com
	signingkey = 6E6CB388C3001DEDCD86801833587A2B87E07510
[credential]
	helper = cache --timeout=7200
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[cola]
	savewindowsettings = true
[gui]
	editor = vim
	fontui = -family \"DejaVu Sans\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Monaco -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	recentrepo = /home/cort/Projects/dm_app/engine
	recentrepo = /home/cort/Projects/quantity
[push]
	default = simple
[gpg]
	program = gpg
[github]
	user = spellman
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
[core]
	excludesfile = /Users/cort/.gitignore
